.home {
    background-color: #F7F4E9;
    text-align: center;

}

.home > h1 {
    color: #D93E30;
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: #83AF9B;
}

a:hover {
    color: #8C5B4D;
}

.home > a {
    font-size: 1.2rem;
}