.home {
    text-align: center;

}

body {
    background-color: #F7F4E9;
}

h1 {
    color: #D93E30;
    font-size: 3rem;
    text-align: center;
}

.img, 
h3 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #83AF9B;
}

a:hover {
    color: #8C5B4D;
}

.home > a {
    font-size: 1.2rem;
}